/**********
 *@{header styling}
 **********/

.container {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
  background: #9a0d37;
  padding: 0.5rem 4rem;
  box-sizing: border-box;
}

nav h1 {
  margin-top: -70px;
  padding-top: 0;
  font-family: cursive;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}

nav ul li a {
  padding: 0 4rem;
  color: #fff;
  font-size: 0.8rem;
}

nav ul li:not(#hireUs) {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#hireUs a {
  border-bottom: solid 0.8px #fff;
  padding: 0;
  padding-bottom: 0.3rem;
}

/**********
 *@sample{footer styling}
 **********/
footer {
  background: #9a0d37;
  width: 100%;
  margin-top: 18rem;
  padding: 10rem 2rem 0.3rem 2rem;
}

footer p {
  text-align: center;
  color: #fff;
}
/**********
 *@{Admin login-page styling}
 **********/
.container2 {
  width: 100%;
  height: 750px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #b40a3d;
}
.Entry {
  width: 100%;
  padding: 10% 0 0;
  margin: auto;
}
.form {
  width: 60%;
  z-index: 1;
  background: #96385ffd;
  margin: 0 auto 10px;
  padding: 55px;
  text-align: center;
}
.form input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 10rem 2rem 0.3rem 2rem;
  width: 90%;
  border: 0;
  margin: 0 0 15px;
  background: white;
  box-sizing: border-box;
  font-size: 14px;
  padding: 15px;
}
.form button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  outline: 1;
  width: 20%;
  border: 0;
  margin: 0 0 15px;
  background: #1e90ff;
  box-sizing: border-box;
  font-size: 14px;
  padding: 10px 5px;
  cursor: pointer;
}
h2 {
  margin-top: -60px;
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;

  text-align: left;
}
h3 {
  padding-left: 2em;
  padding-top: 2rem;
  font-family: cursive;
  color: #fff;
  font-size: 30px;
}
/**********
 *@{Wedding page and form styling}
 **********/
.weddContainer {
  background: #f8eef1;
}

.Entry1 {
  width: 100%;
  margin: 0 auto;
  margin-top: 4rem;
}

.form1 {
  width: 50%;
  z-index: 1;
  margin: 0 auto;
  box-sizing: border-box;
}

.form1 h4 {
  font-size: 1.5rem;
}

.form1 input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  border: solid 1px #9a0d37;
  margin: 0.5rem auto;
  background: white;
  box-sizing: border-box;
  font-size: 14px;
  padding: 0.4rem 1rem;
  outline: none;
}

.form1 button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  outline: 1;
  width: 6rem;
  border: 1;
  margin: 0 0 15px;
  background: brown;

  font-size: 14px;
  padding: 15px;
  cursor: pointer;
}
h4 {
  margin-top: -60px;
  padding-top: 15%;
  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: left;
}

#wed_page .section p {
  padding-bottom: 20px;
  line-height: 1.7em;
}
#wed_page {
  background: url('../img/wed.jpg') no-repeat center center/cover;
  width: 100%;
  height: 100%;
  padding-top: 100px;
}
.container3 {
  margin: auto;
  max-width: 50%;
  overflow: 0;
  padding: 0 20px;
}

h5 {
  padding: 1rem 0 0 0;
  font-size: 1rem;
}

#payment {
  padding: 0.4rem 1rem;
  color: #fff;
  margin-bottom: 4rem;
}
