@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Roboto+Condensed&family=Roboto:ital,wght@1,300&display=swap');
/**********
 *@generalSetting {*} styling
 **********/
* {
  margin: 0;
  padding: 0;
  line-height: 2;
}

.container {
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
p,
time,
input,
label,
select {
  font-family: 'Roboto Condensed', sans-serif;
}

header {
  background: #9a0d37;
  padding: 0.5rem 4rem;
  box-sizing: border-box;
}

nav h1 {
  margin-top: -70px;
  padding-top: 0;
  color: #000;
  font-family: 'Chewy', cursive;
}

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}

nav ul li a {
  padding: 0 1.4rem;
  color: #dbd8d8;
  font-size: 0.98rem;
}

nav ul li a:hover {
  color: #fff;
}

li img {
  width: 50px;
  height: 20px;
  padding: 0 0.5rem;
  box-sizing: border-box;
  cursor: pointer;
}

img[alt='eng-translation'] {
  padding-left: 1rem;
}

nav ul li {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/**********
 *@footer styling{*}
 **********/
footer {
  background: #9a0d37;
  width: 100%;

  padding: 10rem 2rem 0.3rem 2rem;
  box-sizing: border-box;
}

footer p {
  text-align: center;
  color: #fff;
}

footer a {
  color: #fff;
}

time {
  font-size: 0.8rem;
}

/***********
 *@media query{*}
 ***********/
 @media only screen and (max-width: 900px) {
  header {
    padding: 0.5rem 1rem;
    box-sizing: border-box;
  }

  nav h1 {
    margin-top: -90px;
    margin-left: 20px;
  }

  #hm {
    margin-left: -100px;
  }

  nav ul li {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  #hireUs {
    display: none;
  }

  nav ul li a {
    padding: 0 0.5rem;
  }

  #formNdAsideWrapper {
    display: flex;
    flex-direction: column;
  }

  form {
    width: 90%;
  }

  form h3,
  progress {
    width: 87%;
    margin-left: 0.5rem;
  }
}
