/***********
 *index{*} styling
 ***********/
.content {
  height: 69vh;
  background-image: url(https://i.ibb.co/tZhmRyh/concert.jpg);
  background-size: cover;
  position: relative;
}

.content__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  white-space: nowrap;
}

.heading-primary {
  color: #fff;
  font-family: cursive;
}

.heading-primary--main {
  text-transform: capitalize;
  font-size: 6rem;
}

.heading__button,
heading__button:link,
heading__button:visited {
  text-transform: capitalize;
  text-decoration: none;
  display: inline-block;
  margin-top: 1rem;
  border-radius: 10rem;
  padding: 0.6rem 2rem;
  background-color: rgba(255, 255, 255, 0.602);
  cursor: pointer;
}

.content-pay__box {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-no {
  margin-top: 0.5rem;
  width: 100%;
}

.card-back {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}

input {
  height: 2rem;
}
.sec-btn,
sec-btn:link,
sec-btn:visited {
  text-transform: capitalize;
  text-decoration: none;
  display: inline-block;
  margin-top: 1rem;
  border-radius: 0.5rem;
  padding: 0.4rem 1.5rem;
  background-color: #9a0d37;
  cursor: pointer;
  color: #fff;
}

.btn-row {
  align-items: center;
  padding: 10px auto;
}

@media only screen and (max-width: 900px) {
  .heading-primary--main {
    text-transform: capitalize;
    font-size: 3rem;
  }
  .heading-primary {
    color: #fff;
    font-family: cursive;
    font-size: 1.3rem;
  }
}

@media (max-width: 426px) {
  .heading-primary--main::after {
    content: '\A';
  }
  .heading-primary--sub::before {
    content: '\A';
    white-space: pre;
  }
  nav {
    font-size: 70%;
  }

  .content {
    height: 58vh;
  }
}
