/**********
 *@eventPlan{*}Styling
 **********/
#formNdAsideWrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  box-sizing: border-box;
}

aside {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 35.5rem;
  margin-top: 1rem;
  background: #9a0d37;
  margin-right: 15rem;
}

aside a {
  color: #fff;
  font-size: 0.9rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

aside a:before {
  content: '\2713';
  padding-right: 0.3rem;
}

/**************
 *@form{*} styling
 *************/
form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 2rem;
  margin: 1rem auto;
  background: #9a0d37;
  box-sizing: border-box;
}

form h3 {
  color: #fff;

  font-weight: 300;
  margin-left: 1.2rem;
  border-bottom: double 3px #fff;
  width: 44%;
}

progress {
  margin: 1rem 0 0 1.2rem;
  width: 93%;
  background: #ffff00;
}

label {
  font-weight: 100;
  color: #fff;
  padding-top: 1rem;
  padding-left: 1.5rem;
  font-size: 0.8rem;
}

input[type='text'],
textarea {
  width: 90%;
  height: 40px;
  border: none;
  background: #eee;
  padding-left: 0.3rem;
  margin: 0 auto;
  resize: none;
  outline: none;
}

input[type='submit'] {
  margin: 2rem auto;
  width: 40%;
  height: 40px;
  border-radius: 0;
  border: none;
  font-size: 1rem;
}

input[type='submit']:hover {
  box-shadow: 1px -6px 10px #eee;
  color: #000;
  transition: 1s;
  cursor: pointer;
}

