/**********
   *@eventForm Styling{*}
   **********/
.weddContainer {
  background: #f8eef1;
}

.Entry1 {
  width: 100%;
  margin: 0 auto;
  margin-top: 4rem;
}

.form1 {
  width: 50%;
  z-index: 1;
  margin: 0 auto;
  box-sizing: border-box;
}

.form1 h4 {
  font-size: 1.5rem;
}

.form1 input:not(#payment) {
  width: 100%;
  border: solid 1px #9a0d37;
  margin: 0.5rem auto;
  background: #fff;
  box-sizing: border-box;
  font-size: 14px;
  padding: 0.4rem 1rem;
  outline: none;
}

textarea[name='description'] {
  padding: 0.5rem 1rem;
  width: 95%;
  height: 60px;
  border: solid 1px #9a0d37;
  margin: 0.5rem auto;
  resize: none;
}

.form1 button {
  outline: 1;
  width: 6rem;
  border: 1;
  margin: 0 0 15px;
  background: brown;

  font-size: 14px;
  padding: 15px;
  cursor: pointer;
}
h4 {
  margin-top: -60px;
  padding-top: 15%;
  font-size: 50px;
  text-align: left;
}

#wed_page .section p {
  padding-bottom: 20px;
  line-height: 1.7em;
}
#wed_page {
  background: url(https://i.ibb.co/yyxB8yc/wed.jpg) no-repeat center cover;
  width: 100%;
  height: 100%;
  padding-top: 100px;
}
.container3 {
  margin: auto;
  max-width: 50%;
  overflow: 0;
  padding: 0 20px;
}

h5 {
  padding: 1rem 0 0 0;
  font-size: 1rem;
}

#payment {
  padding: 0.5rem 1rem;
  background: #9a0d37;
  text-align: center;
  color: #fff;
  margin-bottom: 4rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  cursor: pointer;
}

select {
  width: 100%;
  height: 30px;
  border: solid 1px #9a0d37;
  border-radius: none;
  background: #fff;
  cursor: pointer;
  outline: none;
}
