html {
  font-size: 62.5%;
}

.card {
  width: 20%;
  display: inline-block;
  box-shadow: 0.2rem 0.2rem 2rem black;
  border-radius: 0.5rem;
  margin: 2%;
}

.image img {
  width: 100%;
  border: 2.5rem;
}

.title {
  text-align: center;
  padding: 4.5rem;
  background-color: rgb(241, 220, 226);
}
.title h1 {
  font-size: 2rem;
  color: rgb(92, 3, 46);
  margin-bottom: 2rem;
}
.title p {
  font-size: 1.5rem;
}

.button {
  background-color: rgb(241, 220, 226);
  border: 1px solid rgb(70, 50, 58);
  border-radius: .5rem;
  padding: 0.7rem;
  font-size: 1.5rem;
  font-weight: 2rem;
  width: 10rem;
 
}
.button:hover {
  background-color: rgb(158, 9, 81);
  color: white;
  transition: 0.5s;
  cursor: pointer;
}

.card-footer {
  background-color: rgb(154, 13, 55);
  width: 100%;
  text-align: center;
  padding: 2rem 0rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.card-header {
  background-color: rgb(154, 13, 55);
  width: 100%;
  padding-top: 4rem;
  border: 0.5rem;
 
}

.card-body {
  background-color: rgb(241, 220, 226);
  width: 100%;
  padding-top: 2.5rem;
  border: 6.5rem;
}
.card-body #h1 {
  display: flex;
  font-size: 5rem;
  color: #9a0d37;
  margin-bottom: 6rem;
  justify-content: center;
}
.card-body #p {
  display: flex;
  font-size: 2.8rem;
  color: #9a0d37;
  justify-content: center;
  align-items: center;
  padding: 3.5rem;
}
.upcoming-event {
    width: 100%;
    margin: 0 auto;
    min-height: 20vh;
    text-align: center;
    margin-bottom: -80px;
  }
  
  .upcoming-event h1 {
    font-size: 3rem;
    color: #9a0d37;
    text-align: center;
     margin-top
  : 10rem;
  }
.date {
  width: 20%;
 
  display: inline-block;
  margin: 2%;
}

.date {
  text-align: center;
  padding: 5.5rem;
  position: relative;
}
.date-title h1 {
  font-size: 2.6rem;
  margin-top: -2rem;
  padding: 3rem;
  color: #9a0d37;
  text-align: center;

}
.date-title p {
  font-size: 2.5rem;
  text-align: center;
}

#date-btn {
  margin: 2rem;
  margin-bottom: 1rem;
  background: none;
  background-color: rgb(121, 7, 39);
  border: none;
  padding: 1rem .8rem;
  font-size: 2rem;
  font-weight: 1rem;
  width: 20rem;
  color: white;
}

.calen {
  display: flex;
  font-size: 60px;
  position: absolute;
   margin-left: -3rem;
  color: rgb(110, 10, 42);
}
.bod {
  color: rgb(240, 11, 22);
}

#eventPlanHeaderNav h1 {
  font-size: 4.9em;
  margin-top: 1rem;
  color: white;
  font-family: 'Miss Fajardose', cursive;
  font-weight: 100;
}
#eventPlanHeaderNav ul li a {
  font-size: 1.6rem;
}

@media (max-width: 1028px) {
  .container {
    display: flex;
    width: 100%;
  }

  .card {
    display: inline-block;
    width: 80%;
    margin: 3.5rem;
    overflow: auto;
  }
  .card-body .h1 {
    font-size: 3rem;
    margin: 2rem;
  }
  .upcoming-event {
    width: 100%;
  }

  .upcoming-event {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  upcoming-event h1 {
    font-size: 2rem;
    color: #9a0d37;
    text-align: center;
  }

  .date {
    width: 100%;
    font-size: 1rem;
    display: inline-block;
    justify-content: center;
    align-items: center;
  }

  .bod {
    color: rgb(11, 156, 240);
    display: inline-block;
  }

  .calen {
    display: inline-block;
    top: 0;
    left: 13rem;
  }
}
